 {% extends "base.html" %}

{% block content %}
<div class="container-fluid mt-3">
  <div class="row remain p-2">
    <div class="col-lg-3 d-none d-lg-block shadow-lg">
      <h2>About Me</h2>
      <h5>Photo of me:</h5>
      <div class="fakeimg">Fake Image</div>
      <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
      <h3 class="mt-4">Some Links</h3>
      <p>Lorem ipsum dolor sit ame.</p>
    </div>
    <div class="col-sm-9 ps-5 ">
      <div id="Borge" class="w3-container person pe-5">
        <br>
        <img class="rounded" src="/w3images/avatar3.png" style="width:20%;">
        <h5 class="mt-2">Subject: Remember Me</h5>
        <h4 class="mb-2"><i class="fa fa-clock-o"></i> From Borge Refsnes, Sep 27, 2015.</h4>
        <a class="btn ms-1"  href="#">Reply<i class=" ms-2 fa fa-mail-reply"></i></a>
        <a class="btn ms-4" href="#">Forward<i class="ms-2 fa fa-arrow-right"></i></a>
        <hr>
        <p>Hello, i just wanted to let you know that i'll be home at lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p>Best Regards, <br>Borge Refsnes</p>
      </div>      
    </div>
  </div>
</div>
{% endblock content %}