<div class="card">        
  <div class="card-header d-grid">
    <button type="button" class="btn btn-lg" data-bs-toggle="modal" data-bs-target="#myModal"> New Message
      <i class="fa fa-pencil ms-3" aria-hidden="true"></i>
    </button>
  </div>
</div>
<div id="accordion">
    <div class="card border-0">
      <div class="card-header d-grid">
        <a class="btn btn-lg bg-light" data-bs-toggle="collapse" href="#collapseOne">
          <i class="fa fa-inbox me-4"></i><h3>Inbox (<span id="unread-count">{{ unreadCount }}</span>)</h3><i class="fa fa-caret-down ms-4"></i>
        </a>
      </div>
      <div id="collapseOne" class="collapse" data-bs-parent="#accordion">
        <div class="card-body justify-content-center">
          {% for msg in msgsRecipient %}         
          <div class="btn mini-msg" data-id="{{msg.id}}">
            <img class="w3-round w3-margin-right" src="/w3images/avatar3.png" style="width:15%;"><span class="w3-opacity w3-large">Borge Refsnes</span>
            <h6>Subject: {{msg.subject}}</h6>
            <p>{{msg.body|slice:'30'}}...</p>
          </div>
          <br/>
          <hr>
          {% endfor %}

        </div>
      </div>
    </div>
</div> 

<div class="othersSideMenu">
  <ul class="nav flex-column">
    <li class="nav-item-left">
      <a class="nav-link btn btn-lag" href="#"><i class="fa fa-paper-plane" aria-hidden="true"></i> Sent</a>
    </li>
    <li class="nav-item-left">
      <a class="nav-link btn btn-lg" href="#"><i class="fa fa-hourglass-end" aria-hidden="true"></i> Drafts</a>
    </li>
    <li class="nav-item-left">
      <a class="nav-link btn btn-lg" href="#"><i class="fa fa-trash" aria-hidden="true"></i> Trash</a>
    </li>
  </ul>
</div>