
<div id="accordion">
  <div class="card border-0">
    <a class="collapsed btn btn-lg" data-bs-toggle="modal" href="#myModal">
      <div class="card-header card-header-text">
        New Message <i class="fa fa-pencil ms-3" aria-hidden="true"></i>
      </div>
    </a>
  </div>
  
  <div  class="card border-0">
    <a  id="id_inbox" class="btn btn-lg" data-bs-toggle="collapse" href="#collapseOne">
      <div class="card-header card-header-text">
        <i class="fa fa-inbox me-4"></i>Inbox (<span id="unread-count">{{unreadCount}}</span>)<i class="fa fa-caret-down ms-4"></i>
      </div>
    </a>
    
    <div id="collapseOne" class="collapse" data-bs-parent="#accordion">
      <div class="card-body scroll justify-content-center">
        {% for msg in msgsRecipient %}         
        <div class="btn mini-msg btn-mini-msg" data-id="{{msg.id}}">
          <img class="w3-round w3-margin-right" src="{{msg.sender.profile_image.url}}" style="width:15%;"><span class="w3-opacity w3-large">{{msg.sender.first_name}} {{msg.sender.last_name}}</span>
          <h6>Subject: {{msg.subject}}</h6>
          <p>{{msg.body|slice:'25'}}...</p>
        </div>
        <br/>
        <hr>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="card border-0">
    
    <a class="collapsed btn btn-lg" data-bs-toggle="collapse" href="#collapseTwo">
      <div class="card-header card-header-text">
        <i class="fa fa-paper-plane me-4" aria-hidden="true"></i> Sent
      </div>
    </a>
    
    <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
      <div class="card-body scroll justify-content-center">
        {% for msg in msgsSender %}         
        <div class="btn mini-msg btn-mini-msg" data-id="{{msg.id}}">
          <img class="w3-round w3-margin-right" src="{{msg.sender.profile_image.url}}" style="width:15%;"><span class="w3-opacity w3-large">{{msg.sender.first_name}} {{msg.sender.last_name}}</span>
          <h6>Subject: {{msg.subject}}</h6>
          <p>{{msg.body|slice:'25'}}...</p>
        </div>
        <br/>
        <hr>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="card border-0">
    
      <a class="collapsed btn btn-lg" data-bs-toggle="collapse" href="#collapseTwo">
        <div class="card-header card-header-text">
          <i class="fa fa-hourglass-end me-4" aria-hidden="true"></i> Drafts
        </div>
      </a>
    
    <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
      <div class="card-body">
        Lorem ipsum..
      </div>
    </div>
  </div>

  <div class="card border-0">
    
      <a class="collapsed btn btn-lg" data-bs-toggle="collapse" href="#collapseTwo">
        <div class="card-header card-header-text">
          <i class="fa fa-trash me-4" aria-hidden="true"></i> Trash
        </div>
      </a>
    
    <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
      <div class="card-body">
        Lorem ipsum..
      </div>
    </div>
  </div>
</div> 
